<!DOCTYPE html>
<html>
<head>
    <meta charset="utf8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>LoLGuru LiveMap</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/pure-min.css">
<!--[if lte IE 8]>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/grids-responsive-old-ie-min.css">
<![endif]-->
<!--[if gt IE 8]><!-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/grids-responsive-min.css">
<!--<![endif]-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
<link rel="stylesheet" href="./style.css">
</head>
<body>
    <div class="pure-g matches">
        <div class="pure-u-1 pure-u-sm-1-5"></div>
        <div class="pure-u-1 pure-u-sm-3-5">
            <h1>Select a server below:</h1>
            <p><button class="pure-button" type="button">BR</button></p>
            <p>
                <button class="pure-button" type="button">EUNE</button>
                <div class="pure-g match">
                    <div class="pure-u-1 pure-u-sm-2-3">
                        <h1>ARAM/MATCHED_GAME</h1>
                    </div>
                    <div class="pure-u-1 pure-u-sm-1-3">
                        <p class="match__time">06/05/2016 20:30</p>
                    </div>
                    <div class="pure-u-1 pure-u-sm-1-2">
                        <div class="match__team"><a class="match__summoner" href="/match/TwisterTwice">TwisterTwice</a><a class="match__summoner" href="/match/YUNG MATA">YUNG MATA</a><a class="match__summoner" href="/match/Sl4v3">Sl4v3</a><a class="match__summoner" href="/match/CroBow">CroBow</a><a class="match__summoner" href="/match/Claw Or Spear v2">Claw Or Spear v2</a></div>
                    </div>
                    <div class="pure-u-1 pure-u-sm-1-2">
                        <div class="match__team"><a class="match__summoner" href="/match/mndck">mndck</a><a class="match__summoner" href="/match/snakemary">snakemary</a><a class="match__summoner" href="/match/Sinestet">Sinestet</a><a class="match__summoner" href="/match/rfvbhu">rfvbhu</a><a class="match__summoner" href="/match/maiden22acacia">maiden22acacia</a></div>
                    </div>
                </div>
                <div class="pure-g match">
                    <div class="pure-u-1 pure-u-sm-2-3">
                        <h1>CLASSIC/MATCHED_GAME</h1>
                    </div>
                    <div class="pure-u-1 pure-u-sm-1-3">
                        <p class="match__time">06/05/2016 20:30</p>
                    </div>
                    <div class="pure-u-1 pure-u-sm-1-2">
                        <div class="match__team"><a class="match__summoner" href="/match/MaviQs">MaviQs</a><a class="match__summoner" href="/match/Dashing">Dashing</a><a class="match__summoner" href="/match/Kilobajt">Kilobajt</a><a class="match__summoner" href="/match/ThePunMan">ThePunMan</a><a class="match__summoner" href="/match/SpaniosTzo">SpaniosTzo</a></div>
                    </div>
                    <div class="pure-u-1 pure-u-sm-1-2">
                        <div class="match__team"><a class="match__summoner" href="/match/RayonX">RayonX</a><a class="match__summoner" href="/match/B Boy Fabian">B Boy Fabian</a><a class="match__summoner" href="/match/Wings">Wings</a><a class="match__summoner" href="/match/Tissue">Tissue</a><a class="match__summoner" href="/match/YUNG ILoveRosee">YUNG ILoveRosee</a></div>
                    </div>
                </div>
                <div class="pure-g match">
                    <div class="pure-u-1 pure-u-sm-2-3">
                        <h1>ARAM/MATCHED_GAME</h1>
                    </div>
                    <div class="pure-u-1 pure-u-sm-1-3">
                        <p class="match__time">06/05/2016 20:30</p>
                    </div>
                    <div class="pure-u-1 pure-u-sm-1-2">
                        <div class="match__team"><a class="match__summoner" href="/match/ThaDanishGod">ThaDanishGod</a><a class="match__summoner" href="/match/kiaukalas">kiaukalas</a><a class="match__summoner" href="/match/Deadmen Tim">Deadmen Tim</a><a class="match__summoner" href="/match/Wazuuup">Wazuuup</a><a class="match__summoner" href="/match/DrKica">DrKica</a></div>
                    </div>
                    <div class="pure-u-1 pure-u-sm-1-2">
                        <div class="match__team"><a class="match__summoner" href="/match/Assault Rain">Assault Rain</a><a class="match__summoner" href="/match/brOOdi">brOOdi</a><a class="match__summoner" href="/match/AmishExpert">AmishExpert</a><a class="match__summoner" href="/match/Kennymester">Kennymester</a><a class="match__summoner" href="/match/Jason York">Jason York</a></div>
                    </div>
                </div>
                <div class="pure-g match">
                    <div class="pure-u-1 pure-u-sm-2-3">
                        <h1>CLASSIC/MATCHED_GAME</h1>
                    </div>
                    <div class="pure-u-1 pure-u-sm-1-3">
                        <p class="match__time">06/05/2016 20:30</p>
                    </div>
                    <div class="pure-u-1 pure-u-sm-1-2">
                        <div class="match__team"><a class="match__summoner" href="/match/Orange Zac">Orange Zac</a><a class="match__summoner" href="/match/Diàmönd">Diàmönd</a><a class="match__summoner" href="/match/Y0ss4">Y0ss4</a><a class="match__summoner" href="/match/manbearswine">manbearswine</a><a class="match__summoner" href="/match/Sezmay">Sezmay</a></div>
                    </div>
                    <div class="pure-u-1 pure-u-sm-1-2">
                        <div class="match__team"><a class="match__summoner" href="/match/darkshaver1">darkshaver1</a><a class="match__summoner" href="/match/Dragoonerr">Dragoonerr</a><a class="match__summoner" href="/match/Baltoji Laume">Baltoji Laume</a><a class="match__summoner" href="/match/QuikiSquiki">QuikiSquiki</a><a class="match__summoner" href="/match/The Deadeye">The Deadeye</a></div>
                    </div>
                </div>
                <div class="pure-g match">
                    <div class="pure-u-1 pure-u-sm-2-3">
                        <h1>CLASSIC/MATCHED_GAME</h1>
                    </div>
                    <div class="pure-u-1 pure-u-sm-1-3">
                        <p class="match__time">06/05/2016 20:30</p>
                    </div>
                    <div class="pure-u-1 pure-u-sm-1-2">
                        <div class="match__team"><a class="match__summoner" href="/match/Penis Hilton">Penis Hilton</a><a class="match__summoner" href="/match/Quinsie V2">Quinsie V2</a><a class="match__summoner" href="/match/KanyeEast1">KanyeEast1</a><a class="match__summoner" href="/match/tell me tata">tell me tata</a><a class="match__summoner" href="/match/Creep">Creep</a></div>
                    </div>
                    <div class="pure-u-1 pure-u-sm-1-2">
                        <div class="match__team"><a class="match__summoner" href="/match/TiG Storm">TiG Storm</a><a class="match__summoner" href="/match/Mutare">Mutare</a><a class="match__summoner" href="/match/PanikaWoW">PanikaWoW</a><a class="match__summoner" href="/match/titkos Mágus">titkos Mágus</a><a class="match__summoner" href="/match/kowyy">kowyy</a></div>
                    </div>
                </div>
            </p>
            <p><button class="pure-button" type="button">EUW</button></p>
            <p><button class="pure-button" type="button">JP</button></p>
            <p><button class="pure-button" type="button">KR</button></p>
            <p><button class="pure-button" type="button">LAN</button></p>
            <p><button class="pure-button" type="button">LAS</button></p>
            <p><button class="pure-button" type="button">NA</button></p>
            <p><button class="pure-button" type="button">OCE</button></p>
            <p><button class="pure-button" type="button">PBE</button></p>
            <p><button class="pure-button" type="button">RU</button></p>
            <p><button class="pure-button" type="button">TR</button></p>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mithril/0.2.5/mithril.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/domready/1.0.8/ready.min.js"></script>
    <script src="./app.js"></script>
</body>
</html>

